---
---

<footer class='bg-black text-white p-6'>
  <h2 class='hidden'>Footer</h2>
  <p class='outfit'>
    Hi, I'm  <a
      href='https://www.akm-xdd.tech'
      target='_blank'
      class='text-blue'>Anand!</a
    >
  </p>
</footer>
